$size1:50px;
$fontfamily:Arial;
$color2:#7cb2f5;

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#4a84db, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 29%;
    
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color:$color2;
}
.ctr{
    margin-top: 50px;

    .img{
        padding-right: 200px;
        padding-left: 10px;
        
    }

    h1{
       font-size: $size1;
       font-family: $fontfamily;
    }
    .ctn{
        margin-top: 50px;


         
input[type=text] {
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: black;
    width: 300px;
}

input[type=password] {
  
   @extend input[type=text];
}
.login{
    cursor: pointer;
    width: 100px;
}
 
    }
}





